body {
	background-color: #F8EDDD;
}
#title {
	margin-right: auto;
	margin-left: auto;
	background-color: #F8EDDD;
}

#title h1, h2 {
	text-align: center;
	font-family: roboto;
	color: #382B38;
	width: 100%;
	position: relative;
}

#alertes {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#alertes ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
}

#alert1 {
	height: 300px;
	width: 300px;
	background-color: #455D69;
}

#alert2 {
	height: 300px;
	width: 300px;
	background-color: #F06B4B;
}

#alert3 {
	height: 300px;
	width: 300px;
	background-color: #2E6E7F;
}

footer {
	margin-left: auto;
	margin-right: auto;
}

footer p {
	text-align: center;
	font-family: roboto;
	font-size: 15px;
	color: #382B38;
}